<!DOCTYPE html>
    <html ng-app="myApp">
     <head>
        <title>Simple Directives</title>
    </head>
    <body ng-controller="HomeController as HomeCtrl">
        <h1>Directives</h1>
        <input type="text" ng-model="HomeCtrl.message" />
        <br /><br  />

        <h2>Dependent</h2>
        <dependent></dependent>


        <h2>Isolate</h2>
        <evaluator expression="myExpr"
                   result="output"
                   on-expression-change="HomeCtrl.updatedEvalution(myExpr)"
                   on-result-change="HomeCtrl.valueDidChange(output)"
                   title="Type to evaluate your Expression">
        </evaluator>
        <br />

        <h4>Result from evaluator: {{output}}</h4>
        <h4>Expression from evaluator: {{myExpr}}</h4>

        <evaluator></evaluator>

         <some-other value="letterA"></some-other><br />
         <some-other-one value="letterA"></some-other-one><br />

         <input type="text" ng-model="letterA" />

        <script src="/common/js/jquery/jquery.js"></script>
        <script src="/common/js/angular/angular.js"></script>
        <script src="directives/directives.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>
