<!DOCTYPE html>
    <html ng-app="myTeamApp">
     <head>
        <title>Event Handlers</title>
    </head>
    <body ng-controller="ListController as ListCtrl">
        <h1>Event Handlers</h1>
         
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Team Name</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Wins</th>
                    <th>Loses</th>
                    <th>Win %</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in ListCtrl.teams">
                    <td><input type="button" value="X" ng-click="ListCtrl.removeTeam(team)" />
                    <td>{{team.Name}}</td>
                    <td>{{team.League}}</td>
                    <td>{{team.Division}}</td>
                    <td>{{team.Wins}}</td>
                    <td>{{team.Loses}}</td>
                    <td>{{(team.Wins / (team.Wins + team.Loses)) * 1000}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="button" value="+" ng-click="ListCtrl.addTeam()" />
                    <td><input type="text" ng-model="ListCtrl.newTeam.Name" /></td>
                    <td><input type="text" ng-model="ListCtrl.newTeam.League" /></td>
                    <td><input type="text" ng-model="ListCtrl.newTeam.Division" /></td>
                    <td><input type="text" ng-model="ListCtrl.newTeam.Wins" /></td>
                    <td><input type="text" ng-model="ListCtrl.newTeam.Loses" /></td>
                </tr>
            </tfoot>
        </table>
        
        <div>
            {{ListCtrl.lastEvent}}
        </div>
       
        <script src="/common/js/angular/angular.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>