<div class="top-nav">
    <div class="row no-margin">
        <span class="header-text-style">List of Products</span>
    </div>
</div>

<div class="page-content container-fluid">
    <div class="content">
        <div class="container-fluid" ui-view autoscroll="false">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label>Search by Name</label>
                                <input type="text" class="form-control" placeholder="Filter By Product" ng-model="filter.productName" />
                            </div>
                            <div class="btn-container">
                                <button type="button" adp-button="secondary" ng-click="filter = {}">Clear</button>
                                <button type="button" adp-button="primary" ng-click="go('/details/')">Create New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div adp-dashboard>
                <div class="isotope-three-column-width"></div>
                <div class="isotope-three-column-gutter"></div>
                <adp-tile data-ng-repeat="product in ListCtrl.products | filter:filter | orderBy: 'productName' track by product._id" title="{{product.productName}}" id="{{product._id}}" show="true" order="product.productName" url="pages/productTile.tpl.html"></adp-tile>
            </div>
        </div>
    </div>
</div>