<!DOCTYPE html>
<html lang="en-US" ng-app="training.main">
<head>
    <title>ADP Training</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="vendor/js/less.min.js"></script>

    <!-- Redbox Specific CSS -->
    <link href="vendor/css/vendor.min.css" rel="stylesheet" type="text/css">
    <link href="redbox/css/redbox.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/css/brandable.less" rel="stylesheet/less" type="text/less">
    <link href="training.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="stage show">
    <div>
        <div class="cover animate">
            <div class="company-logo"></div>
            <div data-ng-if="!appCtrl.inOnboarding()" class="icon adp-fa-icon-adp-logo powered-by-adp-logo" onclick="window.open('http://www.adp.com')" title="Powered By ADP"></div>
        </div>
        <div class="top-header-ribbon visible-xs visible-sm visible-md"></div>
        <div class="overlay"></div>
        <div class="slidein-boundary"></div>

        <div id="framework-container" class="container framework-container animate">
            <!-- Sidebar -->
            <div class="page-sidebar nav vertical animate">
                <!-- Menu -->
                <ul class="menu">
                    <li></li>
                    <li>
                        <a ui-sref="home">
                            <i class="fa fa-home fa-3x"></i>
                            <span class="txt">Home</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Page Container -->
            <div class="page-container animate">
                <!-- Navigation -->
                <div class="top-nav">
                    <div class="row no-margin">
                        <!-- Side Menu Toggle -->
                        <a id="side-toggle" class="visible-sm-block visible-xs-block" data-ng-click="toggleMenu()">
                            <i class="fa fa-bars"></i>
                        </a>
                        <span class="header-text-style">Training</span>
                    </div>
                </div>
                <!-- Page Container-->
                <div class="page-content container-fluid">
                    <div class="content">
                        <div class="container-fluid" ui-view autoscroll="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="vendor/js/vendor.min.js"></script>
<script src="vendor/js/angular-mocks.js"></script>
<script src="redbox/js/adp-components.min.js"></script>
<script src="redbox/js/templates.app.min.js"></script>
<script src="redbox/js/redbox.min.js"></script>

<script src="training.js"></script>

<!--
<script src="redbox/adp-angular-ui-dashboard.min.js"></script>
-->
<!--<script src="demo.min.js"></script>-->

</body>
</html>
